body {
  margin: 0;
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

canvas {
  background: #2ecc71;
  display: block;
  margin: 10px auto;
  border: 3px solid white;
}

#controls button {
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}
